
.listSurface {
  margin: -4px;
}

.listPage {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  height: auto;
  width: 100%;
}

.listCell {
  display: block;
  margin: 4px;
}

.cell {
  display: block;
  position: relative;
}

.cellContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eaeaea;
}

.sizer {
  display: block;
  visibility: hidden;
}
