
.listCell {
  display: block;
  margin: 0;
}

.cell {
  display: block;
  position: relative;
}

.cellContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sizer {
  display: block;
  visibility: hidden;
}
