
.listPage {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  height: auto;
  width: 100%;
}

.listCell {
  display: block
}

.cell {
  display: block;
  position: relative;
  outline: 1px solid red;
}

.cellContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sizer {
  display: block;
  visibility: hidden;
}
